h1{
    color: antiquewhite;
    text-align: center;
}
body{
    background-color: rgb(218, 165, 101);
}
p{
    text-align: left;
    background-color: bisque;
    font-size: medium;
    display: inline-block;
    border: 12px black solid;
}

p2{
    background-color: bisque;
    font-size: medium;
    display: block;
    border: 12px black solid;
    
}
